<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    xmlns:Tools="http://schemas.android.com/apk/distribution"
    package="com.example.m_saidika">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_msaidika_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_msaidika_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MSaidika"
        tools:replace="android:icon"
        tools:targetApi="31">
        
        <activity
            android:name=".PaymentActivity"
            android:exported="false" />
        <activity
            android:name=".ViewJobActivity"
            android:exported="false" />
        <activity
            android:name=".JobActivity"
            android:exported="false" />
        <activity
            android:name=".PostJobActivity"
            android:exported="false" />

        <activity
            android:name=".ChatActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".AllChatsActivity"
            android:exported="false" />
        <activity
            android:name=".ViewMenuItem"
            android:exported="false" />
        <activity
            android:name=".ViewFullPhotoActivity"
            android:exported="false" />
        <activity
            android:name=".ViewApplication"
            android:exported="false" />
        <activity
            android:name=".FoodMenuActivity"
            android:exported="false" />
        <activity
            android:name=".ApplicationsActivity"
            android:exported="false" />
        <activity
            android:name=".FoodActivity"
            android:exported="false" />
        <activity
            android:name=".ServiceProviderActivity"
            android:exported="false" />
        <activity
            android:name=".EmergencyActivity"
            android:exported="false" />
        <activity
            android:name=".ProfileActivity"
            android:exported="false" />
        <activity
            android:name=".RegisterActivity"
            android:exported="false" />
        <activity
            android:name=".LoginActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="false" />
        <activity
            android:name=".WelcomeActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.theartofdev.edmodo.cropper.CropImageActivity"
            android:theme="@style/Base.Theme.AppCompat" />
    </application>

</manifest>